{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Faturamento{% endblock %}

{% block content %}


<div class="offset-1 col-12 list-div">
    <h3>Relatório de Faturamento</h3>

    <table class="table-round-corner" cellspacing="0">
    <tr>
        <th>Descrição</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Valor total das contas</td>
        <td>R$ {{faturamento}}</td>
    </tr>
    <tr>
        <td>Valor das contas à pagar</td>
        <td>R$ {{faturar_x}}</td>
    </tr>
    <tr>
        <td>Valor das contas pagas</td>
        <td>R$ {{faturar_y}}</td>
    </tr>
    </table>

</div>

<br>
<br>

{% endblock %}


    <table class="minhaTabela">
        <thead>
            <tr ><br><br>
                <th scope="row" rowspan="1" colspan="1">Descrição</th>
                <th id="tr-alinha-c">Valor</th>
                <th id="tr-alinha2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="tr-alinha-L">&nbsp Valor total das contas &nbsp </td>
                <td>&nbsp R$ {{faturamento}} &nbsp </td>
            </tr>
            <tr>
                <td id="tr-alinha-L">&nbsp Valor das contas à pagar &nbsp </td>
                <td>&nbsp R$ {{faturar_x}} &nbsp </td>
            </tr>
            <tr>
                <td id="tr-alinha-L">&nbsp Valor das contas pagas &nbsp </td>
                <td>&nbsp R$ {{faturar_y}} &nbsp </td>
            </tr>
        </tbody>
    </table>