{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Faturamento{% endblock %}

{% block content %}


<div class="offset-1 col-16 list-div">
    <h2>Relatório de Faturamento</h2>

    <table class="minhaTabela">
        <thead>
            <tr ><br><br>
                <th scope="row" rowspan="1" colspan="1">Descrição</th>
                <th id="tr-alinha-c">Valor</th>
                <th id="tr-alinha2"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="tr-alinha-L">&nbsp Valor total das contas &nbsp </td>
                <td>&nbsp R$ {{faturamento}} &nbsp </td>
            </tr>
            <tr>
                <td id="tr-alinha-L">&nbsp Valor das contas à pagar &nbsp </td>
                <td>&nbsp R$ {{faturar_x}} &nbsp </td>
            </tr>
            <tr>
                <td id="tr-alinha-L">&nbsp Valor das contas pagas &nbsp </td>
                <td>&nbsp R$ {{faturar_y}} &nbsp </td>
            </tr>
        </tbody>
    </table>
</div>

<br>
<br>


{% endblock %}