{% extends 'base.html' %}

{% block title %}Lista de Tarefas{% endblock %}

{% block content %}

<div class="offset-1 col-16 list-div">
    <h3>{{task.name}}</h3>

    <table class="table-round-corner" cellspacing="0">
        <tr>
            <th>VALOR</th>
            <th>STATUS</th>
            <th>DESCRIÇÃO</th>
        </tr>
        <tr>
            <td>{{task.varcont}}</td>
            <td>{{task.done}}</td>
            <td>{{task.description}}</td>
        </tr>
    </table>
</div>

<br>

{% endblock %}